
@media screen and (min-width: 993px){
    header{
    height:auto;
    }
    
}

.admin{
    padding-top:50px;
}


input{
    border:none;
    background:transparent;
     
}
.input{
    width:100%;
}
.input:hover,.input2:hover{
    border:none;
}
.edit_input{
    width:50%;
}
.textarea{
    width:40%;
}

textarea{
    width:100%;
    border:none;
    background:transparent;
}
.edit{
    margin:auto;
    background:rgba(255,255,255,0.6);
}
.row{
    display:flex;
    justify-content: center;
}
.image, .img_fluid {
    width:50px;
}
.input2{
    background:white;
}
.big_font{
    font-size:4rem;
}
.edit_image{
    position:absolute;
    top:20%;
    right: 10%;
    
}
#main > h1{
    font-size:8rem;
}
#desc{
    font-size:2rem;
}
#main{
    margin-top:50px;
}
.message{
    color:green;
    font-size:smaller;
    font-weight:bold;
    font-style:italic;
}
#slider_button {
    position: absolute;
    right: 50px;
    top:10px;
    color:white;
    border:none;
    background:rgba(228, 87, 32, 0.788);
    border-radius: 50%;
    box-shadow:2px 5px 2px rgba(0, 0, 0, 0.397);
    cursor:pointer;
}